@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
html,
body{
    margin: 0;
    font-family: 'Oswald', sans-serif;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
:root {
    --main-infobox-backgroud: #40362D;
    --logo-box-backgroud: #5D3C28;
  }
ul,
li{
    list-style-type: none;
}
.second-box {
    width: 100%;
    z-index: 2;
}

.main-infobox{
    display: flex;
    background-color: var(--main-infobox-backgroud);
    width: 100%;
    height: 21rem;
}
.logo{
    background-color: var(--logo-box-backgroud);
    height: auto;
    display: flex;
    justify-content: center;
    padding: 3rem;

}
.openings{
    display: flex;
    flex-direction: row;
}
.info{
    margin-top: 0.5rem;
    font-size: 1.3rem;
    /* this */
}
.info-box{
    width: 100%;
    margin-top: .5rem;
    margin-left: .5rem;
    /* margin-right: 10rem;  */
}
.detail{
    color: #AB9A8A;
}
.name,
.titel,
.email,
.phone,
.home{
    color: #FFFFFF;
}
.extra-info-container{
    background-color: #A40A0A;
    width: 90%;
    height: 3.5rem;
    margin-left: 2.5rem;
    align-items: center;
    padding-left: 1rem;
    color: #FFFFFF;
    padding: 10px;
    display: none;
}
.email i,
.phone i,
.home i{
    color: #AB9A8A;
    margin-right: .5rem;
}
.email,
.phone,
.home{
    font-size: 1.5rem;
}

/* Pildid */

.first-box {
    width: 100%;
    height: 100%;
    background-color: #40362D;
    display: flex;
    justify-content: center;
    z-index: 1;

}
img.poster {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

#on-top {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: #FFFFFF;
    z-index: 3;
}
